<!DOCTYPE html>
<html>
<head>
   <mata charset="UTF-8">
   <title> HOME IOT NETWORK </title>
</head>
<body>
   <h1> LED MoodLight </h1>
   <form action='/leddata' method='post'>
      <input type="submit" name="led" value="on">
      <input type="submit" name="led" value="off">
   </form>
   </br>
   <h1> Ultrasonic </h1>
   <form action='/ultrasonic' method='post'>
      <input type="submit" name="sonic" value="on">
      <input type="submit" name="sonic" value="off">
   </form>
   </br>

   <h1> Piano Sound </h1>
   <form action='/sound' method='post'>
      <input type="submit" name="piano" value="on">
      <input type="submit" name="piano" value="off">
   </form>